
http {

    include       mime.types;
    default_type  application/octet-stream;
    keepalive_timeout  65;

    {% for site in item.sites -%}
    server {
        listen {{ site.port }}
        server_name {{ site.cname }} ;
        location / {
          proxy_pass {{ site.domain }} ;
        }
    }
    {% endfor %}

}